/* screen - my-projects */

.container .top-bar-4VB33J {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--gray-nurse);
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    mix-blend-mode: normal;
    padding: 20px 24px;
    position: relative;
    width: 100%;
}

.container .serhiis-portfolio-KgTUOv {
    background-color: transparent;
    color: var(--tuatara);
    font-family: var(--font-family-ubuntu_mono);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.container .navigation-KgTUOv {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 36px;
    position: relative;
}

.container .container-VS8rXJ {
    background-color: transparent;
    color: var(--tuatara);
    font-family: var(--font-family-geologica);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: fit-content;
}

.container .current-page-VS8rXJ {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
}

.container .ellipse-2-BXKrod {
    background-color: var(--black);
    border-radius: 4px;
    height: 8px;
    mix-blend-mode: normal;
    position: relative;
    width: 8px;
}

.container .container-BXKrod {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-geologica);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: fit-content;
}

.container .contact-me-VS8rXJ {
    background-color: transparent;
    color: var(--tuatara);
    font-family: var(--font-family-geologica);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: fit-content;
}

.container .row-4VB33J {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    gap: 97px;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.container .vector-emqg8j {
    height: 692px;
    left: -57px;
    position: absolute;
    top: -21px;
    width: 1280px;
}

.container .vector-VUOWCB {
    height: 692px;
    left: -57px;
    position: absolute;
    top: 693px;
    width: 1280px;
}

.container .work-showcase-emqg8j {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 65px;
    position: relative;
}

.container .title-99eKDs {
    align-self: stretch;
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-geologica);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
}

.container .projects {
    background-color: transparent;

    position: relative;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    row-gap: 20px;
    column-gap: 28px;
}

@media screen and (max-width: 576px) {
    .container .projects {
        display: flex;
        flex-direction: column;
    }
}

.container .vector-4exQx5 {
    height: 40.5px;
    position: relative;
    width: 45px;
}

.container .actions-4exQx5 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
}

.container .vector-mKYn0N {
    height: 15.733386993408203px;
    position: relative;
    width: 16px;
}

.container .my-wireguard-cli-app-E8K3oK {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: fit-content;
}

.container .deploy-a-wireguard-v-E8K3oK {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
}

.container .terraform-18x77E {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: fit-content;
}

.container .wireguard-FDNM0C {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: fit-content;
}

.container .digital-ocean-vikDJp {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: fit-content;
}

.container .vector-hx5HQT {
    height: 45.00018310546875px;
    position: relative;
    width: 45px;
}

.container .actions-hx5HQT {
    align-items: flex-start;
    display: flex;
}

.container .vector-xGFBVM {
    height: 15.7333984375px;
    position: relative;
    width: 16px;
}

.container .nomess-framework-mMhvcq {
    background-color: transparent;
    flex: 1;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
}

.container .the-framework-with-s-mMhvcq {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
}

.container .vector-xovxSu {
    height: 50px;
    position: relative;
    width: 45px;
}

.container .actions-xovxSu {
    align-items: flex-start;
    display: flex;
}

.container .vector-cTfgne {
    height: 15.7333984375px;
    position: relative;
    width: 16px;
}

.container .memory-efficient-cli-xKRSry {
    background-color: transparent;
    flex: 1;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
}

.container .this-golang-package-xKRSry {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
}

.container .win32-api-fdBKvB {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: fit-content;
}

.container .vector-YFFw0i {
    height: 40.5px;
    position: relative;
    width: 45px;
}

.container .actions-YFFw0i {
    align-items: flex-start;
    display: flex;
}

.container .vector-bJUaDS {
    height: 15.7333984375px;
    position: relative;
    width: 16px;
}

.container .recursive-folder-flattener-cL3kxl {
    background-color: transparent;
    flex: 1;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: 936px;
}

.container .flatten-your-folder-cL3kxl {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
}

.container .cli-maCm8M {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: fit-content;
}

.container .vector-22xPy7 {
    height: 50px;
    position: relative;
    width: 45px;
}

.container .actions-22xPy7 {
    align-items: flex-start;
    display: flex;
}

.container .vector-xixSLk {
    height: 15.7333984375px;
    position: relative;
    width: 16px;
}

.container .saa-s-product-landing-3VZScJ {
    background-color: transparent;
    flex: 1;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
}

.container .this-is-a-great-land-3VZScJ {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
}

.container .nuxtjs-A2bfwh {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: fit-content;
}

.container .vuejs-kyxjQ5 {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: fit-content;
}

.container .call-for-contact-me-action-99eKDs {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 100%;
}

.container .its-good-to-know-you-gNwRnN {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: fit-content;
}

.container .give-me-a-ping-i-wil-gNwRnN {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: fit-content;
}

.container .actions-99eKDs {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    width: 100%;
}

.container .contact-me-now-La3yLn {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: fit-content;
}

.container .divider-4VB33J {
    align-self: stretch;
    background-color: var(--gray-nurse);
    height: 1px;
    mix-blend-mode: normal;
    position: relative;
    width: 100%;
}

.container .social-4VB33J {
    background-color: transparent;
    flex: 0 0 auto;
    position: relative;
}

.container .actions {
    background-color: transparent;
    gap: 16px;
    position: relative;
}

.container .badge {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--gray-nurse);
    border-radius: 0px;
    box-shadow: 0px 2px 4px #aeaeae33;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    mix-blend-mode: normal;
    padding: 6px 12px;
    position: relative;
}

.container .badge {
    text-transform: uppercase;
}

.container .github-repo {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    width: fit-content;
}

.container .project {
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--tuatara);
    border-radius: 0px;
    box-shadow: 0px 2px 10px #a7a7a740;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    mix-blend-mode: normal;
    padding: 24px;
    position: relative;
    width: 100%;
}

.container .project-icon {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 47px;
}

.container .stack {
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
    width: 100%;
    flex-flow: row wrap;
}

.container .vector {
    background-color: transparent;
    mix-blend-mode: normal;
}